<br class="clear" />
<!-- Page content -->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-3 headline-box">
      <p class="headline">Brandon McLean</p>
      <p><span class="adj1">Lifelong Learner</span> | <span class="adj1">Application Developer</span> | <span class="adj1">Aspiring Ruby Specialist</span></p>
      <p>
        Hello Earth, my name is Brandon McLean. Welcome to my first self-directed Ruby page. Not too much to share now, but over the next few weeks I will start to populate this page with my experiences during my tenure at The Firehose Project, as well as with images and links to my forthcoming portfolio.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />  
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />  
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 status-box">
          Portfolio Section: Coming Soon!
        </div>
      </div>
    </div>
  </footer>  

</div>