<!-- Nav Area -->
<nav class="navbar navbar-default top-container">
  <div class="container-fluid">
    <!-- Brand and toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">B McLean</a>
    </div>
    
    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav">
        <li><%= link_to "About Me", "#" %></li>
        <li><%= link_to "Portfolio", "#" %></li>
      </ul>
    </div>
  </div>
</nav>

<br class="clear" />
<!-- Page content -->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-3 headline-box">
      <p class="headline">Brandon McLean</p>
      <p><span class="adj1">Lifelong Learner</span> | <span class="adj1">Application Developer</span> | <span class="adj1">Aspiring Ruby Specialist</span></p>
      <p>
        Hello Earth, my name is Brandon McLean. Welcome to my first self-directed Ruby page. Not too much to share now, but over the next few weeks I will start to populate this page with my experiences during my tenure at The Firehose Project, as well as with images and links to my forthcoming portfolio.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
<!--  <div class="row action-row">
    <div class="col-xs-3 fact-box">
      <span class="lower-title">Title 1</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="col-xs-3 col-xs-offset-1 fact-box">
      <span>Title 1</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="col-xs-3 col-xs-offset-1 fact-box">
      <span>Title 1</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div> 
  </div> -->
</div>